<div class="block p-6 rounded-lg shadow-lg bg-white max-w-sm mt-5">
    <h1>Uso de Pipes</h1>
      <div class="form-group mb-6">
        <label for="name" class="form-label inline-block mb-2 text-gray-700">Valor : </label>
        <input [(ngModel)]="name" type="text" id="name"  class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" id="exampleInputPassword1" placeholder="Valor">
      </div>
      <div class="form-group mb-6">
        <p class="text-black">Mayúsculas : {{name | uppercase}}</p>
      </div>
</div>
